certifi==2019.11.28
Django==2.2.3
django-braces==1.14.0
django-model-utils==4.0.0
django-starfield==1.0.post1
Pillow==8.1.1
pytz==2019.3
six==1.14.0
sqlparse==0.3.0
swapper==1.1.2.post1
wincertstore==0.2
