@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #222;
}
html {
    position:relative;
    min-height: 100%;
}
::-webkit-scrollbar{
	width: 12px;
	background-color: #f9f9f9;
}
::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background-color: #8e8e8e;
}
body{
    margin-bottom: 60px;
}
.navbar{
    padding: 0.8rem;
    overflow: visible !important;
}
.navbar-nav li{
    padding-right: 20px;
}
.nav-link{
    font-size: 1.1 em !important;
}
.carousel-inner img{
    width: 100%;
    height: 100%;
}
.carousel-caption{
    positon: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.carousel-caption h1{
    font-size: 5vw;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
}
.carousel-caption h3{
    font-size: 2vw;
    font-weight:500;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 1rem;
}
.btn-primary{
    background-color: #800080;
    border: 1px solid #800080;
}
.btn-primary:hover{
    background-color: #4A2040;
    border: 1px solid #4A2040;
}
.padding{
    padding-bottom: 2rem;
}
.welcome{
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}
.welcome hr{
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: 0.3 rem;
    margin-bottom: 0.1 rem;
}
.fa-star, .fa-fire, .fa-question-circle{
    font-size: 4em;
    color: #800080;
    margin: 1rem;
}
footer{
    background-color: #8e8e8e;
    color: #d5d5d5;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    text-align: center;
}
.account{
    width: 45%;
    height: 100%;
    margin: auto;
}
.account-img{
    height: 200px;
    width: 200px;
    margin-right: 20px;
    margin-bottom: 16px;	
}
.account-img-info{
    display: block;
    width: 400px;
    height: 350px;
    float: right;
    padding-top: 100px;

}
.account-info{
    display: block;
    width: 400px;
    height: 600px;
    padding-top: 100px;
    padding-right: 150px;
    float: right;
    
}
.container-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 350px;
    padding: 2rem;
}
.main ul{
    list-style-type:none;
    padding: 0.1rem;
}
.main li a:link, a:visited, a:active{
    color: #8e8e8e;
    text-decoration: none;
}
.main li a:hover{
    color: #800080;
    text-decoration: none;
    font-weight: bold;
}

.navbar input[type=text] {
  border:solid #b4b4b4; 
  margin-top: 8px;
  margin-right: 16px;
  border-radius: 25px;
  height: 30px;
  outline-style: none;
  padding-left: 10px;
}
#searchBar{
    width: 250px;
}
.ui-autocomplete.ui-menu {
    width: 250px;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 5px;
    z-index: 9999;
    background-color: rgba(249,249,249,0.95);
}
.ui-menu-item .ui-menu-item-wrapper.ui-state-active {
    background-color: #cccccc !important;
    color: black !important;
    border-color: #e6e6e6 !important;
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}

/*---Media Queries --*/

@media (max-width: 768px) {
  .carousel-caption{
    top: 45%;
}
.carousel-caption .btn{
    font-size: 70%;
    padding: 8px 14px;
}
.display-4{
    font-size: 200%;
}













