<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
<img src="{% static 'images/logo.png' %}"
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'css/base.css' %}" />
</head>
<body>

<div class="topnav">
  <a href="{% url 'csapp:home' %}">Home</a>
  <a href="{% url 'csapp:undergraduate' %}">Undergraduate</a>
  <a href="{% url 'csapp:postgraduate' %}">Postgraduate</a>
  <a href="{% url 'csapp:about' %}">About us</a>
  <a href="{% url 'csapp:days' %}">Open days</a>
	<a href="{% url 'csapp:register' %}">Sign-Up</a>
  <a href="{% url 'csapp:login' %}">Login</a>
  {% if user.is_authenticated %}
    <a href="{% url 'csapp:logout' %}">Logout</a>
  {% endif %}
	
<input type="text" placeholder="Search..">
</div>
  
<html>
	<head>
		<title>
			Rate my CS course -
			{% block title_block %}
				A WAD2 Group Project
			{% endblock %}
		</title>
	</head>
	
	<body>
	
		<div>
		{% block body_block %}
		{% endblock %}
		</div>
	</body>

<br/>

</html>

