{% extends 'csapp/base.html' %}
{% load staticfiles %}

{% block title_block %}
Login
{% endblock %}

{% block body_block %}


<div class="main container-form">
    <h2 class="text-center my-4">Login</h2>
    <form class="form-signin" id="login_form" role="form" method="post" action="{% url 'csapp:login' %}">
        {% csrf_token %}
        <label for="inputUsername" class="sr-only">Username</label>
        <input type="text" name="username" id="id_username" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="id_password" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit" value="Submit">Sign in</button>
    </form>
    <p>
    Don't have an account?
    <a href="{% url 'csapp:register' %}">Sign up!</a>
    </p>
	
    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <p>{{ message }}</p>
            {% endif %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <p>{{ message }}</p>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>
{% endblock %}