{% extends 'csapp/base.html' %}
{% load staticfiles %}

{% block title_block %}
    My reviews
{% endblock %}

{% block body_block %}
    <h2> My reviews </h2>
    <div>
        {% if errors %}
            <strong>{{ errors }}</strong>
        {% endif %}
        {% if reviews_list %}
            {% for review in reviews_list %}
                <div id='reviewdescription'>
                    Review for <a class="aa" href="{% url 'csapp:course'  review.course.slug %}">{{ review.course.name }}</a> <br>
					<strong>Overall Rating:</strong> {{ review.overall_rating }} out of 5<br>
                    <strong>Lecturer Rating:</strong> {{ review.lecturer_rating }} out of 5<br>
                    <strong>Engagement:</strong> {{ review.engagement }} out of 5<br>
                    <strong>Informative:</strong> {{ review.informative }} out of 5<br>
                    <strong>Comments:</strong> <br>
                    {{ review.comment }}<br>
                </div>
                <br>
            {% endfor %}
        {% else %}
            <strong>No reviews to display </strong>
        {% endif %}
    </div>
{% endblock %}