{% extends 'csapp/base.html' %}
{% load staticfiles %}

{% block title_block %}
    My reviews
{% endblock %}

{% block body_block %}
    <div class="main px-5 mx-5 mb-5">
    <h2 class="text-center my-4"> Your Reviews </h2>
    <br>
    <div class="text-center">
    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                {{ message }}
                <br><br>
            {% endif %}
        {% endfor %}
    {% endif %}
    </div>
    
    {% if reviews_list %}
        <div class="card-deck">
        {% for review in reviews_list %}
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <div class="card-header bg-transparent text-center" style="height:100px">
                    <h6 class="card-title"><a class="aa" href="{% url 'csapp:course'  review.course.slug %}">{{ review.course.name }}</a></h6>
                    </div>
                    <table class="table table-sm table-borderless">
                      <tbody>
                        <tr>
                          <th scope="row"><strong>Overall Rating</strong></th>
                              <td>
                                    <div class="star-ratings-sprite"><span style="width:{{ review.overall_rating }}%" class="star-ratings-sprite-rating"></span></div>
                              </td>
                        </tr>
                        <tr>
                          <th scope="row"><strong>Lecturer Rating</strong></th>
                              <td>
                                    <div class="star-ratings-sprite"><span style="width:{{ review.lecturer_rating }}%" class="star-ratings-sprite-rating"></span></div>
                              </td>
                        </tr>
                           <tr>
                          <th scope="row"> <strong>Engagement</strong></th>
                              <td>
                                    <div class="star-ratings-sprite"><span style="width:{{ review.engagement }}%" class="star-ratings-sprite-rating"></span></div>
                              </td>
                        </tr>
                           <tr>
                          <th scope="row"><strong>Informative</strong></th>
                              <td>
                                    <div class="star-ratings-sprite"><span style="width:{{ review.informative }}%" class="star-ratings-sprite-rating"></span></div>
                              </td>
                        </tr>
                       </tbody>
                </table>   
                    
                    <strong>Comment:</strong>
                    
                    {% if review.comment %}
                        {{ review.comment }}<br>
                    {% else %}
                        No comment added. <br>
                    {% endif %}
                </div>
                <div class="card-footer bg-transparent">
                    <a href="{% url 'csapp:write_review' review.course.slug %}"><button class="btn btn-primary" style="display:inline-block">Edit</button></a>
                    <form id="review_delete_form" method="post" action="{% url 'csapp:delete_review' review.course.slug %}" style="display:inline-block">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Delete</button>
                    </form>
                     
                </div>
            </div>
        {% endfor %}
        </div>
    {% else %}
        <strong>You have not reviewed any course! </strong>
        <p> To review a chosen course, go to the course's page and click the "Leave Review" button </p>
    {% endif %}
  
{% endblock %}