{% extends 'csapp/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Open Days
{% endblock %}

{% block body_block %}
<div class="main px-4 mx-5 mb-5">
    <h2 class="text-center my-4"> Open Days </h2>
<h2>What is Open Day? </h2>
	<p>
		An open day is when a university opens its door to the public and lets you experience it first-hand.
		It is especially useful for upcoming students to help decide whether University of Glasgow is the right place for you.
		The open day at University of Glasgow offers many activities, which you can partake in:
	</p>
	<ul class="customList">
		<li>view our beautiful campus</li>
		<li>gain insight into your subject of interest, including talks and stands where teaching staff will be on hand to answer any questions you may have</li>
		<li>hear advice on the application process, tuition fees and student accommodation</li>
		<li>take a campus tour led by one of our current students</li>
		<li>take an undergraduate accommodation tour to our Murano Street Student Village and Queen Margaret Residences.</li>
	</ul>  
	<p>
		Note that many of the tours have to be booked in advance, further details and booking information will be available 6 weeks before the respective Open Day.
	</p>
	<p>
		If you are thinking about studying at the University of Glasgow in the future, don't miss this opportunity.
	</p>
<h2>Dates</h2>
	<strong>Main Campus:</strong> 
	<ul class="customList">
		<li><strong>June Open Day</strong> - Thursday 18 June</li>
		<li><strong>September Open Day</strong> - Wednesday 2 September</li>
		<li><strong>October Open Day</strong> - Saturday 24 October</li>
	</ul>  

<h2>Register</h2>
	<p>
		If you are interested in attending an Open day, please register below.
	</p>
	<button class="btn btn-primary btn-sm btn-block" onclick="window.location.href = 'https://app.geckoform.com/public/#/modern/FOEU03e6aQmrJHvp';">Register</button>
		
</div>

{% endblock %}
