{% extends 'csapp/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Write a review
{% endblock %}

{% block body_block %}
    <div class="main">
    <div class="writeReview">
    <div class="jumbotron mx-5 p-5">
    <h2>Leave a review for {{ reviewInfo.courseName }}</h2>
    <br>
    {% if reviewInfo.reviewPosted %}
        <p class="text-center">
            You have successfully posted your review!
        </p>
        <br/>
    {% else %}
        <form id="user_form" method="post">
            {% csrf_token %}
            <table>
            {{ reviewInfo.reviewForm.as_table }}
            </table>
            <br><br>
            <button type="submit" class="btn btn-primary" style="display:inline-block">Submit</button>
            <button type="reset"  class="btn btn-primary" style="display:inline-block">Reset</button>
        </form>
    {% endif %}
</div>
</div>
</div>
{% endblock %}